html{
    background-image: url(photos/background.jpg);
    background-attachment: fixed;
}

* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.mobile{
    display:none;
    position: absolute;
    width: 100%;
    text-align: center;

}


/*****
Title
*****/ 

.top{
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    
}

.top-background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:antiquewhite;
    opacity: 0.6;

}

.title{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 2vw;
}

.explenation{        
    position: absolute;
    top: 60%;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 1.3vw;
}

.logo{
    position: absolute;
    height: 100px;
    top: 20px;
    z-index: 1;
    left: 90px;
    opacity: 0.7;
}

.middle{
    position: absolute;
    width:100%;
    top: 160px;
    left:0;
    height:560px;
}

/*
Bag*/

.bag{
    position: absolute;
    top:0px;
    left:5%;
    height:800px;
    width:800px;
    
/*
    transform:scale(0.7);
    transform-origin: top left;
*/
}

.tooltip{
}

.dark-side{
    position: absolute;
    left: 615px;
    top:10px;
    height: 170px;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 1;

}

.tooltip .dark-side-text{
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 20px;
    /* Position the tooltip */
    position: absolute;
    left: 640px;
    top: 180px;
    z-index: 3;
}

.tooltip:hover .dark-side-text{
    visibility: visible;
}

.base {
    position: absolute;
    top:0px;
    left:0px;
    height: 800px;
    border-radius: 10px;
    opacity: 0.8;
}

.foreground {
    position: absolute;
    top:0px;
    left:0px;
    height: 800px;
}


.a {
    position: absolute;
    top:433px;
    left:154px;
    height:263px;
}

.b{
    position: absolute;
    top:312px;
    left:168px;
    height:328px;
}


.c{
    position: absolute;
    top:445px;
    left:383px;
    height:245px;
}

.d{
    position: absolute;
    top:326px;
    left:232px;
    height:217px;
}

.e{
    position: absolute;
    top:66px;
    left:251px;
    height:242px;
}

.f{
    position: absolute;
    top:673px;
    left:158px;
    height:40px;
}


/*
Center
*/

.center{
    position: absolute;
    width: 150px;
    height: 560px;
    left: 51%;
}

#random-btn{
    top: 13%;
}

#reset-btn{
    top: 70%;
}


.center-btn{
    position: absolute;
    height:50px;
    width:100px;
    background-color:bisque;
    border-radius: 10px;
    left: 50%;
    margin-left: -50px;
    font-weight: bold;
    cursor: pointer;

}

.parts-list{
    position: absolute;
    top: 25%;
    left:0;
    margin: 0px;
	border-collapse: separate;
    border-spacing: 5px;
}

#parts-list-background{
    position: absolute;
    top: 25%;
    margin: 0px;
    height: 235px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.9;
}


.parts-list th{
    font-weight: bold;
    text-align: left;
    width: 100px;
}

.list-squares{
    width:30px;
    height: 30px;
    border-radius:10px;
    border: 1px solid black;
    background-image: url(photos/no-choice.png);
}


.parts-list th{
    border: 3px inset;
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.parts-list-hover th{
    background: rgba(42, 255, 0, 0.1);
    border: solid;
    border-color: rgba(243, 236, 42, 0.7);
    border-width: 3px;
}

.parts-list-click th{
    border: solid;
    border-color: rgba(243, 236, 42, 0.7);
    border-width: 3px;
}



/*
.colors table {
    position: absolute;
    left: 0;
    margin: 0px;
	border-collapse: collapse;
	border-spacing: 0;
}
*/


.cordura{
    z-index: -1;
}


.colors img{
    border: 4px solid rgba(0,0,0,0);
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
    width: 80px;
    height: 80px;
    cursor: pointer;


}

.colors img:hover {
    border: 4px solid red;
}


.fleece{
    position: absolute;
    width: 440px;
    left: 0;
    height: 150px;
    top:500px;
}

.fleece-background{
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color:white;
    opacity: 0.8;
    border-radius: 10px;
    
}

#fleece-title{
    margin-top: 0;
    position: absolute;
    width: 150px;
    height: 100px;
    font-size: 25px;
    left: 20px;
    top: 20px;
    font-weight: bold;
    text-align: center;
}

.fleece img{
    position: relative;
    left: 50%;
    top: 30px;
    height: 80px;
    border: 5px solid gray;
    border-radius: 5px;
    cursor: pointer
}

.fleece img:hover{
    border-color: yellow;
}


/*
bottom
*/

.bottom{
    position: absolute;
    left:0;
    width:100%;
}

.bottom-background{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background-color: antiquewhite;
    opacity: 0.8;
}


.submit-form{
    position: absolute;
    left:45%;
    top: 0;
    height: 100%;
    width: 500px;

}
#privacy{
    position: absolute;
    left: 10%;
    width: 33%;
    top: 20%;
}

.form-field{
    position:absolute;
    left:0;
    height:26%;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;

}

#name-field{
    position:absolute;
    top: 15%;
}

#contact-field{
    position: absolute;
    top: 49%;
}

#comments-field{
    position: absolute;
    height: 60%;
    width: 26%;
    left: 33%;
    top: 15%;
    font-family: Arial, Helvetica, sans-serif;


}

.submit-btn{
    position: absolute;
    left: 68%;
    top: 30%;
    height: 40%;
    width: 20%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}



.cordura{
    display: flex;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    flex-flow: row wrap;
    
}

.cordura-old{
    display: none;
}

.colors{
    position:absolute;
    top:0;
    right:5%;
    height: 600px;
    width:440px;
    transform-origin: top right;
}



/***************
media queries
****************/



@media only screen and (max-width: 1000px){
    .top {
        height: 80px;
    }
    
    .logo {
        display: none;
    }
    
    .bag{
        transform:scale(0.45);
        transform-origin: top center;
        left: 50%;
        top: 10px;
        margin: 0 0 0 -400px;
    }
    
    .colors{
        position: absolute;
        height: 500px;
        width: 100%;
        top: 440px;
        right: 0;
    }
    
    .cordura{
/*        display: none;*/
        overflow-x: auto;
        flex-flow: row nowrap;


    }
    .cordura::-webkit-scrollbar{
        width: 5px;
        height: 5px;
        background-color: gray;
    }
    .cordura::-webkit-scrollbar-thumb{
        background-color: black;
    }
    
    .fleece{
        display: none;
    }
    .middle{
        top: 80px;
    }
    
    .center{
        width: 300px;
        height: 50px;
        top: 380px;
        left: 50%;
        margin: 0 0 0 -150px;
    }
    
    #random-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: auto;
    }
    .center #reset-btn{
        top: 0;
        right: 0;
        left:auto;
        margin-left: auto;
    }
    
    
    
    .parts-list, #parts-list-background{
        display: none;
    }
    
    .bottom{
        display: none;
        top: 1000px;
    }
}


/*
@media only screen and (max-width: 1000px) {
    .mobile{
        display: block;
        position: absolute;
        margin: -250px 0 0 -250px;
        height: 500px;
        width:500px;
        top: 50%;
        left: 50%;
        background-color:antiquewhite;
        opacity: 0.8;
        font-size: 40px;
    }
    .html{
        width: 100%;
        background-image: url(photos/background.jpg);
    }
    .desktop{
        display:none;
        background-color:
    }
}
*/



@media only screen and (max-width: 1250px) and (min-width: 1000px) {
    body .top {
        height: 120px;
    }
    .bag{
        transform:scale(0.57);
        transform-origin: top left;
    }
    body .logo{
        height: 82px;
    }
    
    body .middle{
        top: 130px;
    }
    
    .colors{
        transform:scale(0.67);
    }
    
    
    .center{
        transform: scale(0.82);
        transform-origin: top center;
    }
    .bottom {
        top: 606px;
        height: 120px;
    }   
    .submit-form{
        width: 410px;
    }
    
}


@media only screen and (min-width: 1250px){
    .top{
        height: 150px;
    }
    .bag{
        transform:scale(0.7);
        transform-origin: top left;
    }
    .colors{
        transform: scale(0.85);
    }
    .bottom {
        top: 740px;
        height: 150px;
    }
    .submit-form{
        width: 500px;
    }
}


@media only screen and (min-width: 1600px){
    .top{
        height:188px;
    }
    .bag{
        transform: scale(0.9)
    }
    .middle{
        top: 205px;
    }
    .logo{
        height: 150px;
    }
    .bottom{
        height: 188px;
        top: 940px;
    }
    .colors{
        transform: scale(1.09);
    }
    .center{
        transform: scale(1.3);
        left: 53%;
    }
    .submit-form{
        width: 700px;
    }
}


